@import "../../css/reset.css";
@font-face {
  font-family: Bold;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.ttf);
}
@font-face {
  font-family: BoldCondenced;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.ttf);
}
body{
  background-color: #00C68A;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  height: 2300px;
}
.tpl_hamburger{
  display: none;
}
h2{
  font-family: BoldCondenced;
  font-size: 40px;
  color: white;
}
h1{
  font-family: BoldCondenced;
  font-size: 50px;
  color: white;
  margin-left: 120px;
  margin-top: 85px;
  margin-bottom: 25px;
  position: relative;
  z-index: 3;
}
h3{
  font-family: BoldCondenced;
  font-size: 30px;
  color: white;
}
h4{
  font-family: Bold;
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
p{
  font-family: Regular;
  font-size: 20px;
  color: white;
}
img{
  border: 4px solid #FFFFFF;
  border-radius: 13px;
  position: relative;
  z-index: 3;
}

.menu{
  width: 100vw;
  height: 144px;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}
.menu h2{
  margin-top: 20px;
}
a{
  text-decoration: none;

}
.menu a{
  color: #FFFFFF;

}
.menu a:hover{
  color: #27FFBE;

}
.box1 a{
  color: #FFFFFF;

}
.box1 a:hover{
  color: #27FFBE;

}
.footter a{
  color: #FFFFFF;
}
.footter a:hover{
  color: #27FFBE;
}
.box1{
  background-color: black;
  border-radius: 115px;
  width: 85vw;
  height: 1925px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 85px;

}
.video-line{
  margin-left: 120px;
  width: 65vw;
  display: flex;
  position: relative;
  z-index: 3;
  margin-bottom: 85px;

}
.video{
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}
.gif1 {
  background: url('../../img/1chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif1:hover {
  background: url('../../img/gif/1.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif2 {
  background: url('../../img/2chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif2:hover {
  background: url('../../img/gif/2.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  margin-bottom: 25px;
  border: 4px solid #FFFFFF;
}
.gif3 {
  background: url('../../img/3chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif3:hover {
  background: url('../../img/gif/3.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif4 {
  background: url('../../img/4chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif4:hover {
  background: url('../../img/gif/4.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif5 {
  background: url('../../img/5chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif5:hover {
  background: url('../../img/gif/5.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif6 {
  background: url('../../img/6chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif6:hover {
  background: url('../../img/gif/6.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif7 {
  background: url('../../img/7chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif7:hover {
  background: url('../../img/gif/7.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif0 {
  background: url('../../img/0chanal.png');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}
.gif0:hover {
  background: url('../../img/gif/8.gif');
  width: 430px;
  height: 268px;
  border-radius: 13px;
  border: 4px solid #FFFFFF;
  margin-bottom: 25px;
}

.footter img{
  border: none;
}
.footter{
  background-color: black;

  width: 100vw;
  height: 190px;
  position: relative;
  z-index: 3;
  display: flex;

}
.left{
  margin-left: 120px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.right{
  margin-left: 470px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.line{
  display: flex;

  width: 400px;
}
.line p{
  margin-right: 25px;
  margin-bottom: 25px;
}
.icons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.ellipse1{
  width: 680px;
  height: 680px;
  left: 960px;
  top: -76px;
  border-radius: 50%;
  background-color: #BD00FF;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse2{
  width: 1124px;
  height: 1124px;
  left: -612px;
  top: 19px;
  border-radius: 50%;
  background-color: #FF0000;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse3{
  width: 444px;
  height: 441px;
  left: 990px;
  top: 621px;
  border-radius: 50%;
  background-color: #FFF735;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse4{
  width: 692px;
  height: 687px;
  left: 122px;
  top: 731px;
  border-radius: 50%;
  background-color: #0500FF;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse5{
  width: 680px;
  height: 680px;
  left: 1336px;
  top: 1233px;
  border-radius: 50%;
  background-color: #FFF735;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse6{
  width: 844px;
  height: 844px;
  left: 855px;
  top: 1010px;

  border-radius: 50%;
  background-color: #FF0000;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}
.ellipse7{
  width: 444px;
  height: 441px;
  left: -58px;
  top: 1700px;
  border-radius: 50%;
  background-color: #BD00FF;
  position: absolute;
  z-index: 2;
  animation: flow 7s linear infinite;
}

@keyframes flow {

  0% {
  transform: translate(0%, 0%);
  }
  12.5%{
  transform: translate(1.5%, 0%);
  }
  25% {
  transform: translate(3%, 0%);
  }
  37.5%{
  transform: translate(3%, 1.5%);
  }
  50% {
  transform: translate(3%, 3%);
  }
  62.5%{
  transform: translate(1.5%, 3%);
  }
  75% {
  transform: translate(0%, 3%);
  }
  87.5%{
  transform: translate(0%, 1.5%);
  }
  100% {
  transform: translate(0%, 0%);
  }

}


@media (max-width: 768px){
  h2{
    font-size: 20px;
  }
  h1{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 12px;

  }
  p{
    font-size: 12px;
  }
  .menu{
    height: 76px;
  }
  .box1{
    height: 1077px;
    width: 705px;

  }
  .video-line{
    margin-left: 70px;
    margin-bottom: 40px;
  }
  .video{
    margin-right: 20px;
  }
  .btn-main{
    border: 2px solid #27FFBE;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom:40px;
    width: 560px;
  }
  .gif1 {
    background: url('../../img/1chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif1:hover {
    background: url('../../img/gif/1.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif2 {
    background: url('../../img/2chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif2:hover {
    background: url('../../img/gif/2.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif3 {
    background: url('../../img/3chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif3:hover {
    background: url('../../img/gif/3.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif4 {
    background: url('../../img/4chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif4:hover {
    background: url('../../img/gif/4.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif5 {
    background: url('../../img/5chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif5:hover {
    background: url('../../img/gif/5.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif6 {
    background: url('../../img/6chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif6:hover {
    background: url('../../img/gif/6.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif7 {
    background: url('../../img/7chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif7:hover {
    background: url('../../img/gif/7.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif0 {
    background: url('../../img/8chanal-min.png');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }
  .gif0:hover {
    background: url('../../img/gif/8.gif');
    width: 275px;
    height: 157px;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
  }


  img{
    border: 2px solid #FFFFFF;
  }
  .footter{
    width: 100vw;
    height: 90px;
  }
  .left{
    margin-left: 70px;
    margin-top: 20px;
  }
  .right{
    margin-left: 170px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .line{
    display: flex;

    width: 300px;
  }
  .line p{
    margin-right: 40px;
    margin-bottom: 25px;
  }
  .icons{

    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .icons img{
    width: 27px;
    height: 27px;
  }

  body{
    height: 1348px;
  }

  .ellipse1{
    width: 380px;
    height: 380px;
    left: -95px;
    top: -91px;
  }
  .ellipse2{
    width: 524px;
    height: 524px;
    left: 188px;
    top: 172px;
  }
  .ellipse3{
    width: 444px;
    height: 441px;
    left: -363px;
    top: 441px;
  }
  .ellipse4{
    width: 392px;
    height: 392px;
    left: 319px;
    top: 555px;
  }
  .ellipse5{
    width: 180px;
    height: 180px;
    left: 530px;
    top: 1058px;
  }
  .ellipse6{
    width: 244px;
    height: 244px;
    left: -107px;
    top: 1010px;
  }
  .ellipse7{
    width: 244px;
    height: 244px;
    left: 184px;
    top: 918px;

  }


}
@media (max-width: 414px){
  .tpl_hamburger{
    display: block;

  }
  #sandwichmenu {
	margin: 5px 0 0 0;
  }
  .tpl_hamburger svg {
    height: 40px;
    width: 60px;

  }
  .tpl_hamburger svg {
    cursor: pointer;
    height: 50px;
    transform: translate3d(0px, 0px, 0px);
    width: 80px;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .tpl_hamburger path.top, .tpl_hamburger   path.bottom {
    stroke-dasharray: 240px, 950px;
    background-color: #000;
  }
  .tpl_hamburger path {
    fill: none; stroke: #000; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  }
  .tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
  .tpl_hamburger path {
    fill: none; stroke: #FFF; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  }

  .tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
    stroke-dashoffset: -650px;
  }
  .tpl_hamburger path.top, .tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
  }
  .tpl_hamburger.active path.middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
  }
  .menu{
    display: none;

  }
  .menu.active{
    display: block;
    left: 0;

    background-color: #000;
    position: relative;
    z-index: 99;
    height: 200vh;


  }
  .menu.active h2{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box1{
    background-color: rgba(0, 0, 0, 0);
    height: 2177px;
    width: 100vw;
    margin-left: 0px;
  }
  .video-line{
    flex-flow: column wrap;
    margin-left: 50px;

  }
  .video-line .video:first-child{
    margin-bottom: 20px;
  }
  body{
    height: 2570px;
    overflow-x: hidden;

  }
  h1{
    margin-left: 50px;
  }

  p{
    font-size: 15px;

  }
  h4{
    font-size: 15px;
  }

  .footter{
    display: block;
    height: 235px;
  }
  .left{
    margin-left: 50px;
  }
  .line{
    width: 330px;
  }
  .right{
    margin-left: 0px;

  }
  .right p{
    justify-content: center;
    display: flex;
  }
  .ellipse1{
    left: -95px;
    top: -19px;
  }
  .ellipse2{
    width: 224px;
    height: 224px;
    left: 38px;
    top: 2104px;
  }
  .ellipse3{
    left: -388px;
  }
  .ellipse4{
    left: -25px;
    top: 795px;
  }
  .ellipse5{
    left: 175px;
    top: 1267px;
  }
  .ellipse6{
    top: 1410px;
  }
  .ellipse7{
    left: 105px;
    top: 1718px;

  }


}
