@import "../../css/reset.css";
@font-face {
  font-family: Bold;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.ttf);
}
@font-face {
  font-family: BoldCondenced;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.ttf);
}
    body{
      background: #FFE500;
      overflow-x: hidden;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;

      height: 1830px;
    }

    .slider {
      position: relative;
      width: 85vw;
      height: 796px;
      overflow: hidden;
      z-index: 3;
      width: 85vw;
      background: #FFF735;
      border-radius: 10px;

    }

    .slider__wrapper {
      display: flex;
      margin-left: 200px;
      margin-top: 85px;
      transition: transform 0.6s ease;

    }

    .slider__item {
      flex: 0 0 100%;
      width: 953px;
      height: 626px;

    }
    img{
      border: 4px solid #FFFFFF;
      border-radius: 10px;
    }

    .slider__control {
      position: relative;
      z-index: 4;
      top: 0%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      border: 4px solid #000000;
      border-radius: 13px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .9);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 2vw;
      margin-top: -60px;

    }

    .slider__control_right {
      left: 80vw;
      margin-top: -350px;

    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;

      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>img {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }

    .tpl_hamburger{
      display: none;
    }
    .box{
      background-color: black;
      border-radius: 115px;
      width: 85vw;
      height: 1471px;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      padding-bottom: 85px;

    }
    h2{
      font-family: BoldCondenced;
      font-size: 40px;
      color: white;
    }
    h1{
      font-family: BoldCondenced;
      font-size: 50px;
      color: white;
      margin-left: 120px;
      margin-top: 85px;
      margin-bottom: 25px;
      position: relative;
      z-index: 3;
    }
    h3{
      font-family: BoldCondenced;
      font-size: 30px;
      color: white;
    }
    h4{
      font-family: Bold;
      font-size: 25px;
      color: white;
      margin-bottom: 80px;
      margin-left: 120px;
      position: relative;
      z-index: 3;
    }
    p{
      font-family: Regular;
      font-size: 20px;
      color: white;
      width: 465px;

    }

    a{
      text-decoration: none;
    }
    .menu a{
      color: #FFFFFF;

    }
    .menu a:hover{
      color: #FFF735;

    }
    .footter a{
      color: #FFFFFF;
    }
    .footter a:hover{
      color: #FFF735;
    }

    .menu{
      width: 100vw;
      height: 144px;
      display: flex;
      justify-content:
      space-around;
      position: relative;
      z-index: 3;

    }
    .menu h2{
      margin-top: 20px;
    }
    .box p{
      margin-left: 120px;
      position: relative;
      z-index: 3;
    }
    .box p:last-child{
      margin-top: 85px;
    }


    .footter img{
      border: none;
    }
    .footter{
      background-color: black;

      width: 100vw;
      height: 190px;
      position: relative;
      z-index: 3;
      display: flex;

    }
    .left{
      margin-left: 120px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
    }
    .right{
      margin-left: 340px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;

    }
    .right p{
      text-align: center;

    }
    .line{
      display: flex;

      width: 400px;
    }
    .line p{
      margin-right: 25px;
      margin-bottom: 25px;
    }
    .icons{
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }
    .ellipse1{
      width: 1124px;
      height: 1124px;
      left: -731px;
      top: -497px;
      border-radius: 50%;
      background-color: #FF0000;
      position: absolute;
      z-index: 2;
      animation: flow 7s linear infinite;
    }
    .ellipse2{
      width: 843px;
      height: 843px;
      left: 741px;
      top: -304px;
      border-radius: 50%;
      background-color:  #0500FF;
      position: absolute;
      z-index: 2;
      animation: flow 7s linear infinite;
    }

    .ellipse4{
      width: 680px;
      height: 680px;
      left: -315px;
      top: 387px;
      border-radius: 50%;
      background-color: #0500FF ;
      position: absolute;
      z-index: 2;
      animation: flow 7s linear infinite;
    }
    .ellipse5{
      width: 680px;
      height: 680px;
      left: 1113px;
      top: 1003px;
      border-radius: 50%;
      background-color: #FF0000;
      position: absolute;
      z-index: 2;
      animation: flow 7s linear infinite;
    }
    .ellipse6{
      width: 680px;
      height: 626px;
      left: -373px;
      top: 1050px;
      border-radius: 50%;
      background-color: #BD00FF;
      position: absolute;
      z-index: 2;
      animation: flow 7s linear infinite;
    }

    @keyframes flow {

      0% {
      transform: translate(0%, 0%);
      }
      12.5%{
      transform: translate(1.5%, 0%);
      }
      25% {
      transform: translate(3%, 0%);
      }
      37.5%{
      transform: translate(3%, 1.5%);
      }
      50% {
      transform: translate(3%, 3%);
      }
      62.5%{
      transform: translate(1.5%, 3%);
      }
      75% {
      transform: translate(0%, 3%);
      }
      87.5%{
      transform: translate(0%, 1.5%);
      }
      100% {
      transform: translate(0%, 0%);
      }

    }
    @media (max-width: 768px){
      h2{
        font-size: 20px;
      }
      h1{
        font-size: 30px;
        margin-left: 70px;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      h3{
        font-size: 20px;
      }
      h4{
        font-size: 12px;

      }
      p{
        font-size: 12px;
      }
      .menu{
        height: 76px;
      }
      .box{
        height: 1060px;
        width: 705px;
      }
      .slider {
        width: 706px;
        height: 514px;

      }

      .slider__wrapper {
        display: flex;
        margin-left: 100px;
        margin-top: 70px;
        transition: transform 0.6s ease;

      }

      .slider__item {
        flex: 0 0 100%;
        width: 953px;
        height: 626px;

      }
      .slider__control_left {
        left: 6vw;
        margin-top: -60px;

      }

      .slider__control_right {
        left: 80vw;
        margin-top: -448px;

      }
      img{

        width: 500px;
        height: auto;
      }
      .ellipse1{
        width: 400px;
        height: 400px;
        left: -65px;
        top: -113px;
      }
      .ellipse2{
        width: 300px;
        height: 300px;
        left: 417px;
        top: 58px;
      }

      .ellipse4{
        width: 400px;
        height: 400px;
        left: -221px;
        top: 827px;
      }
      .ellipse5{
        width: 400px;
        height: 400px;
        left: 385px;
        top: 827px;
      }
      .ellipse6{
        width: 300px;
        height: 300px;
        left: 100px;
        top: 627px;
      }




      .footter{
        width: 100vw;
        height: 90px;
      }
      .left{
        margin-left: 70px;
        margin-top: 20px;
      }
      .right{
        margin-left: 31px;
        margin-top: 10px;
        width: 329px;
        display: flex;
        flex-direction: column;
      }
      .right p{
        text-align: center;
      }
      .line{
        display: flex;

        width: 300px;
      }
      .line p{
        margin-right: 40px;
        margin-bottom: 25px;
      }
      .icons{

        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
      .icons img{
        width: 27px;
        height: 27px;
      }

      body{
        height: 1332px;
      }


    }
    @media (max-width: 414px){
      .tpl_hamburger{
        display: block;

      }
      #sandwichmenu {
    	margin: 5px 0 0 0;
      }
      .tpl_hamburger svg {
        height: 40px;
        width: 60px;

      }
      .tpl_hamburger svg {
        cursor: pointer;
        height: 50px;
        transform: translate3d(0px, 0px, 0px);
        width: 80px;
      }
      svg:not(:root) {
        overflow: hidden;
      }
      .tpl_hamburger path.top, .tpl_hamburger   path.bottom {
        stroke-dasharray: 240px, 950px;
        background-color: #000;
      }
      .tpl_hamburger path {
        fill: none; stroke: #000; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
      }
      .tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
      .tpl_hamburger path {
        fill: none; stroke: #FFF; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
      }

      .tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
        stroke-dashoffset: -650px;
      }
      .tpl_hamburger path.top, .tpl_hamburger path.bottom {
        stroke-dasharray: 240px, 950px;
      }
      .tpl_hamburger.active path.middle {
        stroke-dasharray: 1px, 220px;
        stroke-dashoffset: -115px;
      }
      .menu{
        display: none;

      }
      .menu.active{
        display: block;
        left: 0;

        background-color: #000;
        position: relative;
        z-index: 99;
        height: 200vh;


      }
      .menu.active h2{
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .box{
        background-color: rgba(0, 0, 0, 0);
        height: 650px;
        width: 100vw;
        margin-left: 0px;
      }

      body{
        height: 4016px;
        overflow-x: hidden;

      }
      h1{
        margin-left: 50px;
      }

      p{
        font-size: 15px;

      }
      h4{
        font-size: 15px;
      }


      .footter{
        display: block;
        height: 235px;
      }
      .left{
        margin-left: 50px;
      }
      .line{
        width: 330px;
      }
      .right{
        margin-left: 0px;

      }
      .right p{
        justify-content: center;
        display: flex;
      }


    }
